@model ProjetoDeSia.Models.Tecnica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tecnica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeQuadrante1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeQuadrante1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeQuadrante2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeQuadrante2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeQuadrante3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeQuadrante3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeQuadrante4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeQuadrante4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTecnica">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
