@model ProjetoDeSia.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pontucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pontucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importancia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tecnica.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdItem">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
